altgraph==0.17.2
art==5.3
atomicwrites==1.4.0
attrs==21.2.0
Brotli==1.0.9
future==0.18.2
iniconfig==1.1.1
multivolumefile==0.2.3
packaging==21.0
pefile==2021.9.3
pluggy==1.0.0
py==1.10.0
py7zr==0.16.2
pybcj==0.5.0
pycryptodomex==3.11.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==3.0.2
pyppmd==0.17.1
pytest==6.2.5
pywin32-ctypes==0.2.0
pyzstd==0.15.0
six==1.16.0
texttable==1.6.4
toml==0.10.2
