altgraph==0.17.2
art==5.3
Brotli==1.0.9
colorama==0.4.4
future==0.18.2
multivolumefile==0.2.3
pefile==2021.9.3
prompt-toolkit==1.0.14
py7zr==0.16.2
pybcj==0.5.0
pycryptodomex==3.11.0
Pygments==2.10.0
PyInquirer==1.0.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyppmd==0.17.1
pywin32-ctypes==0.2.0
pyzstd==0.15.0
regex==2021.10.8
six==1.16.0
texttable==1.6.4
wcwidth==0.2.5
